@model IEnumerable<ParaExamen2.Models.AlumnoModelo>

@{
    ViewData["Title"] = "IndexAlumno";
}

<h1>IndexAlumno</h1>

<p>
    <a asp-action="CreateAlumno">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CursoAlumno.Id)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.CursoAlumno.NomCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApeAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoAlumnoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@Html.DisplayFor(modelItem => item.CursoAlumno.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoAlumno.NomCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApeAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoAlumnoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
